:host {
    display: block;
  }
  
  .inventory-container {
    padding: 0; // El padding ya está en .route-content-wrapper
  }
  
  .table-card {
     .mat-mdc-card-content.no-padding {
      padding: 0 !important; // Quitar padding si la tabla está presente
    }
  }
  
  .no-data-icon {
    font-size: 48px;
    width: 48px;
    height: 48px;
    margin-bottom: 16px;
  }
  
  .table-responsive-wrapper {
    overflow-x: auto; // Permite scroll horizontal en tablas si es necesario
  }
  
  .mat-mdc-table {
    // Estilos generales de tabla ya están en styles.scss
    // Se pueden añadir especificidades aquí si es necesario
  }
  
  .text-right {
    text-align: right;
    justify-content: flex-end; // Para alinear contenido en celdas de encabezado
  }
  