
<mat-toolbar color="primary">
  <span>CoalFlow App</span>
  <span class="spacer"></span>
  <a mat-button routerLink="/dashboard" routerLinkActive="active-link">Dashboard</a>
  <a mat-button routerLink="/cities" routerLinkActive="active-link">Ciudades</a>
  <a mat-button routerLink="/inventory" routerLinkActive="active-link">Inventario</a>
  <a mat-button routerLink="/transfer-orders" routerLinkActive="active-link">Traslados</a>
</mat-toolbar>

<div class="container mx-auto p-4">
  <router-outlet></router-outlet>
</div>